<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Order App</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="/">Order Details</a></li>
        <li class="nav-item"><a class="nav-link" href="/add">Add Order</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
