
<html>
    <body>
        <h1>
            <%= title %>
        </h1>
        <table border="1">
            <tr>
                <td>
                    ID
                </td>
                <td>
                    NAME    
                </td>
            </tr>
            
            <% for(var i = 0; i< id.length && name.length; i++) { %>
                
                <tr>
                    <td>
                        <%= id[i] %>
                    </td>
                    <td>
                        <%=  name[i] %>
                    </td>
                </tr>
            <% } %>


                
                
        </table>
    </body>
</html>