<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bug Tracker</title>
  
  <link rel="icon" href="/images/bug.jpg" type="image/x-icon"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>
<body>
<h1>BUG Tracker</h1>
<br>
<div>
<img src="/images/bug tracker.png" height="200px" width="200px" alt="bug tracker">
</div>
<br>
<br>
<button class="btn btn-primary">
    <a href="/issue/create" style="color: rgb(253, 249, 249);">
        Click here to create new issue
    </a>
</button>

     
</body>
</html>